*,
*::before,
*::after {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------
 * Global styles
 * -----------------------------------------------------------------------------
 */
body {
  margin: 0;
  padding: 85px 0 0;
}

.page-width {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -----------------------------------------------------------------------------
 * Header styles
 * -----------------------------------------------------------------------------
 */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #007765;
  padding: 20px 0;
}
.header > .inner {
  overflow: hidden;
}

.header .logo {
  width: 184px;
  height: 45px;
  float: left;
}

.header ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  float: right;
}
.header ul li {
  float: left;
}
.header ul li::after {
  content: "|";
  margin: 0 12px;
  color: #ffffff;
  position: relative;
  top: -2px;
  font-size: 22px;
}
.header ul li:last-child::after {
  display: none;
}
.header ul li a {
  line-height: 45px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

/* ---Section styles--- */

.block1 {
  background-image: url(../img/fon.png);
  width: 100%;
  max-width: 2011px;
  height: 403px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  position: relative;
  margin: 0;
  top: 160px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
}

.block2 {
  width: 100%;
  max-width: 1170px;
  height: 719px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  position: relative;
  margin: 0;
  top: 48px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: normal;
  text-align: center;

  color: #007765;
}

p {
  position: relative;
  top: 30px;
  text-align: left;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: normal;

  color: #000000;
}

.block3 {
  background-image: url(../img/hero.png);
  width: 100%;
  max-width: 2011px;
  height: 483px;
  margin: 0 auto;
  padding: 0 15px;
}

p.text {
  position: relative;
  max-width: 893px;
  top: 128px;
  margin: 0 auto;

  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;
}

.block4 {
  width: 100%;
  max-width: 1170px;
  height: 604px;
  margin: 0 auto;
  padding: 0 15px;
}

.ppclogo {
  position: relative;
  width: 115px;
  height: 115px;
  top: 16px;
  background: url(../img/ppclogo.png);
}

p.cite {
  position: relative;
  margin: 0;
  max-width: 930px;
  left: 163px;
  top: 139px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: normal;

  color: #000000;
}

.block5 {
  width: 100%;
  max-width: 1170px;
  height: 845px;
  margin: 0 auto;
  padding: 0 15px;
  }

div.face {
  position: relative;
  width: 350px;
  height: 283px;
  margin: 0;
  text-align: center;
}

.flex {
  position: relative;
  margin: 35px 45px;
  top: 32px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

div.face img {
  width: 168px;
  height: 168px;
  margin: 24px auto 0;
}

p.name {
  position: relative;
  margin: 0;
  text-align:center;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #007765;
}

p.prof {
  position: relative;
  margin: 0;
  text-align:center;
  
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}


/* ---Footer styles--- */


.footer {
  position: relative;
  height: 176px;
  left: 0;
  right: 0;
      
  background: #333333;
}

p.footer {
  position: relative;
  margin: 0 auto;
  max-width: 540px;
  height: 64px;
  top: 50px;
    
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}