/* -----------------------------------------------------------------------------
 * Глобальные стили
 * -----------------------------------------------------------------------------
 */

*,
*::before,
*::after {
  box-sizing: border-box; /*Переключаем систему исчисления размеров всех элементов*/
}

body {
  margin: 0; /*обнуляем отступы у body в 0, в разных браузерах они есть и разные*/
  padding: 85px 0 0;
}
/* Этот класс используется по всей странице, чтобы была одна ширина контентной части */
.page-width {
  width: 100%;/*резиновое поведение при изменении размеров экрана*/
  max-width: 1170px;/*пороговое значение ширины контентной части страницы*/
  margin: 0 auto; /*отцентровать по горизонтали*/
  padding: 0 15px;
}

/* -----------------------------------------------------------------------------
 * Header styles
 * -----------------------------------------------------------------------------
 */
#page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #007765;
  padding: 20px 0;
}
#page-header > .inner {
  overflow: hidden;
}

#page-header .logo {
  width: 184px;
  height: 45px;
  float: left;
}

#page-header ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  float: right;
}
#page-header ul li {
  float: left;
}
#page-header ul li::after {
  content: "|";
  margin: 0 12px;
  color: #ffffff;
  position: relative;
  top: -2px;
  font-size: 22px;
}
#page-header ul li:last-child::after {
  display: none;
}
#page-header ul li a {
  line-height: 45px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

/* -----------------------------------------------------------------------------
 * Main styles
 * -----------------------------------------------------------------------------
 */


/*
 * Hero section ----------------------------------------------------------------
 */
#hero-section {
  background: url(../img/fon.png) no-repeat center;
  background-size: cover;/*Почитай про это св-во*/
  padding: 180px 0;/*Отступы чтобы расширить блок по высоте*/
}
#hero-section h1 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 1;/*Это равно font-size, то есть 72px*/
  text-align: center;
  color: #ffffff;
}
/*
 * Problem section -------------------------------------------------------------
 */

#problem-section {
  padding: 50px 0;
}

#problem-section h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  color: #007765;
}
#problem-section p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.15;
}
#problem-section p:last-child {
  margin-bottom: 0;
}

/*
 * Highlight section -----------------------------------------------------------
 */

#highlight-section {
  padding: 100px 0;
  background: url(../img/hero.png) no-repeat center;
  background-size: cover;
}

#highlight-section p {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.15;
  text-align: center;
  color: #ffffff;
}

/*
 * Ppc section -----------------------------------------------------------------
 */

#ppc-section {
  padding: 50px 0;
}
#ppc-section h2 {
  margin: 0 0 60px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  color: #007765;
}
#ppc-section .wrapper {
  position: relative;
  margin-bottom: 32px;
}
#ppc-section p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.15;
}
#ppc-section p.cite {
  padding-left: 145px;
  margin: 0;
}
#ppc-section .ppclogo {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 50%;
  left: 0;
  margin-top: -57px;
  background: url(../img/ppclogo.png) no-repeat center;
  background-size: cover;
}

/*
 * Team section -----------------------------------------------------------------
 */

#team-section {
  margin-bottom: 30px;
}
#team-section h2 {
  margin: 0 0 60px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  color: #007765;
}
#team-section .grid {
  overflow: hidden;
}
#team-section .grid .face {
  float: left;
  width: 33.3333%;
  margin-bottom: 30px;
}
/*Медиазапрос для мобильной версии, просто решил пример показать*/
@media all and (max-width: 749px) {
  #team-section .grid .face {
    width: 50%;
  }
}
#team-section .grid .face img {
  width: 168px;
  height: 168px;
  margin: 0 auto;
  display: block;
}
#team-section .grid .face .name {
  text-align: center;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
}
#team-section .grid .face .prof {
  margin: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

/* ---Footer styles--- */

#page-footer {
  background: #333333;
  padding: 40px 0;
}

#page-footer p {
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
